# supervisord service for sysstemd (CentOS 7.0+)
# by ET-CS (https://github.com/ET-CS)
[Unit]
Description=Supervisor daemon

[Service]
ExecStart={{ supervisord_home }}{{ supervisord_path }} -c {{ supervisor_config }}
ExecStop=/usr/bin/supervisorctl -c {{ supervisor_config }} shutdown
ExecReload=/usr/bin/supervisorctl  -c {{ supervisor_config }} reload
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target